# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Temporal Code
Codigo temporal/

# Backups
backups/
