@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Chakra Petch", sans-serif;
}

:root {
  --overlay-blur-intensity: 5px;
  --overlay-fallback-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Chakra Petch", sans-serif;
}
