@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Chakra Petch", sans-serif;
}

body {
  font-family: "Chakra Petch", sans-serif;
}
